.mainbody {
    text-align: center;
    font: 15px #060025;
}

.mainheader {
    background: linear-gradient(#dddddd, #ffffff);
    min-height: 100px;
}

.faceicon {
    text-align: center;
}

.faceicon-img {
    border: 3px solid #302e3f;
    border-radius: 50px;
    width: 100px;
    height: 100px;
    box-shadow: 0px 5px 10px #06002563;
}

.tabmenu-list {
    background: #7165af;
    overflow: hidden;
}
.tabmenuitem,
.tabmenuitem-active {
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: -5px;
    padding: 5px;
    display: inline-block;
    background: #c2bed8;
    border-radius: 10px 10px 0px 0px;
    text-align: center;
    min-width: 100px;
    min-height: 20px;
    box-shadow: #060025 0px 0px 5px;
    cursor: pointer;
}
.tabmenuitem-active {
    background: #ffffff;
    box-shadow: #060025 0px 0px 10px;
}
.tabmenuitem-title {
    font-weight: bold;
    text-decoration: underline;
}

.tab-content {
    margin-top: 10px;
}

.soundcloudplayer {
    margin: 5px;
}

.youtubeplayer {
    margin: 5px;
}
