html,
body {
    height: 100%;
    width: 100%;
}
body {
    display: table;
    margin: 0;
    overflow: hidden;
    font: 15px solid black;
    font-family: sans-serif;
}

.backdrop {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    background: linear-gradient(#444466, #222233);
    z-index: -1;
}

.maincontainer {
    position: absolute;
    left: 0px;
    top: 0px;
    overflow: auto;
    width: 100%;
    height: 100%;
}

.mainbody {
    text-align: center;
    font: 15px #060025;
    margin: 0px 50px 25px 50px;
    padding: 0px;
    width: calc(100% - 100px);
}

.mainheader {
    min-height: 30px;
    margin: 0px;
}

.faceicon {
    text-align: center;
    margin: 10px;
}

.faceicon-img {
    border: 3px solid #302e3f;
    border-radius: 53px;
    width: 100px;
    height: 100px;
    box-shadow: 0px 5px 10px #06002563;
}

.tabmenu {
    border-radius: 10px;
    background: #ffffff;
}

.tabmenu-list {
    border-radius: 10px 10px 0px 0px;
    background: #7165af;
    overflow: hidden;
}
.tabmenuitem,
.tabmenuitem-active {
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: -5px;
    padding: 5px;
    display: inline-block;
    background: #c2bed8;
    border-radius: 10px 10px 0px 0px;
    text-align: center;
    min-width: 100px;
    min-height: 20px;
    box-shadow: #060025 0px 0px 5px;
    cursor: pointer;
}
.tabmenuitem-active {
    background: #ffffff;
    box-shadow: #060025 0px 0px 10px;
    text-decoration: underline;
}
.tabmenuitem-title {
    font-weight: bold;
}

.tab-content {
    margin-top: 10px;
    padding: 10px;
}

.soundcloudplayer {
    margin: 5px;
}

.youtubeplayer {
    margin: 5px;
}

.pieceicon {
    display: inline-block;
    margin: 5px;
}
.pieceicon-img {
    cursor: pointer;
}
